@import 'londonmanager-legos/common/index';
$total-bar-namespace: 'lm-total-bar';

.#{$total-bar-namespace} {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  height: 100%;
  max-height: 100px;
  background-color: $grayscale-700;
  border-top: 1px solid $grayscale-550;
  overflow: hidden;
  padding: 0 18px;
  box-sizing: border-box;

  &__total {
    display: flex;
    height: 100%;
    align-items: center;
    color: $success-600;
    gap: 22px;
    text-transform: uppercase;

    .total {
      color: $primary-700;
      font-weight: 700;
    }

    .big-price {
      font-variant-numeric: tabular-nums;

      .decimals {
        font-size: 20px !important;
        line-height: 20px;
        vertical-align: super;
        margin-left: 2px;
      }
    }
  }

  &__button-cash {
    display: flex;
    align-items: center;
    gap: 12px;
    height: 44px;
    width: auto;
    border-radius: 4px;
    padding: 12px 14px 12px 14px;
    box-sizing: border-box;
    background-color: transparent;
    color: white;
    border: none;
    cursor: pointer;
    transition: transform 0.3s ease;

    &:hover {
      box-shadow: 2px 2px 22px 0 rgba(0,0,0,0.7);
    }

    .icon {
      height: 24px;
      width: 24px;

      svg {
        height: 100%;
        width: 100%;
        object-fit: contain;
      }
    }

    .icon-right {
      width: 24px;
      height: 24px;
      
      svg {
        height: 100%;
        width: 100%;
        object-fit: contain;
      }
    }

    &--primary {
      background: $primary-500;
      color: $grayscale-100;
      border: 1px solid $primary-500;
    }

    &--error {
      color: $error-400;
      border: 1px solid $error-400;
    }

    &--success {
      background-color: $success-500;
      color: $grayscale-100;
      border: 1px solid $success-500;
    }
    
    &--alert {
      color: $alert-500;
      border: 1px solid $alert-500;
    }

    span {
      text-wrap: nowrap;
    }
  }
}
